# Python
__pycache__
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class

# Entorno virtual
venv/
ENV/
env/
virtualenv/
.Python
env.bak/
venv.bak/

# Paquetes instalados por pip
*.egg-info/
dist/
build/
eggs/
parts/
bin/
develop-eggs/

# Archivos de configuración sensibles
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example
*.ini
*.cfg
*.sensitive

# Bases de datos (ej: SQLite)
*.sqlite3
*.db.sqlite3

# Logs y archivos temporales
*.log
*.pot
*.mo
locale/
coverage/
htmlcov/
cover/
instance/
.webassets-cache
celerybeat-schedule
.sass-cache/
tmp/
.DS_Store
Thumbs.db

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
*.komodoproject
*.pyc
*.pyo
*.pyc
*.db